<!DOCTYPE html>
<html>
  <head>
    <title>Chat app</title>
    <link rel="stylesheet" href="D:/Project/Chat-App/src/public/style.css">
  </head>
  <body>
    <button onclick= "signInWithGoogle()" > Login with Google</button>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../public/script.js"></script>
    <script src = "../public/new.js">
    </script>
  </body>
</html>
