
<%- include("layout/header.ejs") %>
<div  class="justify-content-center align-items-center w-100  h-100 my-auto d-flex ">
    <button onclick= "signInWithGoogle()" class="btn btn-primary"> Login withh Google</button>
</div>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
    <script src="/config.js"></script>
    <script src = "/new.js"></script>
<%- include('layout/footer.ejs') %>
